*{
  box-sizing: border-box;
}

header{
  background: gainsboro;
  border: 1px solid black;
}

#info-box{
  background: gainsboro;
  padding: 1% 2% 1% 2%;
  height: 1000px;
}

ul a{
  text-decoration: none;
  color: black;  
}
.dropdown-item:hover{
  background: orange;
}
.dropdown-item{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: bisque;
  padding: 10px;
}

h2{
  margin: 40px 0px 20px;
}
